.divider {
  margin: 0 !important;
}
.menu {
  background: #3a66e5 !important;
}
.button {
  background: unset !important;
  box-shadow: none !important;
  max-height: none !important;
}
.button:active {
  box-shadow: none !important;
}
.sidebar {
  transform: translateX(-100%);
  transition-timing-function: ease-in;
  transition: 0.2s;
  position: relative;
  /* Semantic ui padding adjustment */
  top: -14px;
  z-index: 5;
}
.slideInLeft {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  transition-timing-function: ease-out;
  transition: 0.25s;
}

.sidebarOverlay {
  z-index: 4;
  right: 0;
  width: 100%;
  position: fixed;
  top: 72px;
  bottom: 0;
  left: 0;
  transition: 0.05s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  background-color: rgba(28, 35, 43);
}
