@import url(../../semantic/src/themes/universe/globals/site.variables);

:global{
  .singleDatePickerWrapper .DayPicker_weekHeader_ul {
    color: @inkLighter;
    margin: 2px 0;
    @media (min-width: 768px) {
      margin: -2px 0;
    }
  }
  .singleDatePickerWrapper .CalendarDay__default {
    border: none;
    color: @inkLighter;
  }
  .singleDatePickerWrapper .CalendarDay__selected {
    background: @blueDark !important;
    border-radius: 6px !important;
    color: white !important;
  }
  .singleDatePickerWrapper .CalendarDay__highlighted_calendar {
    background: none;
    color: @blueDark;
    font-weight: 500;
  }
  .singleDatePickerWrapper .CalendarDay__highlighted_calendar:active,
  .singleDatePickerWrapper .CalendarDay__highlighted_calendar:hover {
    background: none;
    color: @blueDark;
    font-weight: 500;
  }
  .singleDatePickerWrapper .DayPickerNavigation {
    top: 22px;
    display: flex;
    justify-content: space-between;
    margin: 0px 30px;
  }
  .singleDatePickerWrapper .CalendarMonth_caption {
    font-size: 16px;
    height: 100px;
  
    @media (min-width: 768px) {
      height: 92px;
    }
  }
  .singleDatePickerWrapper .CalendarDay__default:hover {
    border: none;
    border-radius: 6px;
  }
  .singleDatePickerWrapper .CalendarDay__blocked_calendar,
  .singleDatePickerWrapper .CalendarDay__blocked_calendar:hover {
    background: none;
  }
}
