.container {
  background: #fff;
  width: 459px !important;
}

.title {
  font-family: Circular Pro, 'Circular Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.bannerImage {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.containerBody {
  padding: 30px;
}

.description {
  margin: 24px 0;
}

.listDescription {
  margin-bottom: 0px;
}

.listItems {
  margin: 2px 0 20px;
  padding-left: 20px;
  color: #1c232b;
  font-family: 'Graphik', 'Helvetica', helvetica, arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  li {
    padding-left: 4px;
  }

  li::marker {
    font-size: 9px;
  }
}

.container {
  background: #ffffff;
  border: 1px solid #e2e5e7;
  border-radius: 7px;
}

.subtitle {
  color: #6f7881;
  /* Desktop/Regular bold */
  font-family: 'Graphik', 'Helvetica', helvetica, arial, sans-serif;
  font-style: 'normal';
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
}

.button {
  width: 100%;
  height: 28px;
  font-size: 13px;
  padding: 8px 0px 8px 0px !important;
  box-sizing: content-box;
}
